**.venv

# Ignore all files in datasets directory
datasets/*
# But keep README.md files
!datasets/README.md
!datasets/**/README.md

.DS_Store


**local_syftbox_network
**.server
**.syftbox

**__pycache__