**.venv

# Ignore all files in datasets except README.md and dataset_download.ipynb
datasets/*
!datasets/README.md
!datasets/dataset_download.ipynb

.DS_Store

# AI artifacts
**.claude
CLAUDE.md

# run artifacts
**local_syftbox_network
**safer_bench_network
**.server
**.syftbox
**__pycache__
logs/
outputs/
multirun/
results/
.ml-flow/

# Writing artifacts
docs/plans/
docs/paper/