**.venv

# Ignore all files in datasets except README.md and dataset_download.ipynb
datasets/*
!datasets/README.md
!datasets/dataset_download.ipynb

.DS_Store

**local_syftbox_network
**.server
**.syftbox
**.claude

**__pycache__

logs/

outputs/
multirun/
results/

**safer_bench_network